body {
    overflow-x: hidden;
    background-color: #333;
    margin-left: 0;
}

/* CSS */

/* DROPDOWN */

.ToolBar {
    text-align: center;
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: darkcyan;
  }
  .ToolBar #title {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }

  .dropdown {
    float: left;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .dropdown button {
    all: unset;
    padding: 5px 7px;
    transition: 0.3s;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    z-index: 1;
    transition: 0.3s;
  }
  
  .dropdown-content div {
    width: 100%
  }
  
  .dropdown-content div:hover {
    background-color: grey;
    cursor: pointer;
  }
  
  .dropdown:hover .main-button {
    background-color: lightcyan;
    color: black;
  }
  
  /* MAIN TEXT */
  
  .TextBox {
    height: 90vh;
    width: 100vw;
  }
  
  .TextBox #display {
    float: left;
    width: 15%;
    height: 105%;
    background-color: #222;
  } 
  
  .TextBox #display:hover {
    cursor:default;
  }

  .TextBox #code {
    float: left;
    width: 80%;
    height: 100%;
  }
  
  .TextBox #editor {
    color: white;
    font-family: 'source-code-pro', monospace;
    border: 0px;
    background-color: #555;
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
  }

  .TextBox #tabs {
    width: 100%;
    padding-top: 5px;
  }

  #tab-objects {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 5px;
    width: 10%;
    background-color: #555;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
  } 

  #selected-tab {
    padding-bottom: 5px;
    display: inline-block;
    width: 10%;
    background-color: #555;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    white-space: nowrap;
    /* border-top-left-radius: 7px;
    border-top-right-radius: 7px; */
  }
  
  #tab-objects:hover {
    cursor: pointer;
  }

  .TextBox:hover {
    cursor: text;
  }
  
  .TextBox [contentEditable] {
    outline: 0px solid transparent;
  }
  
  .TextBox #editor .statement {
    color: #ff8c00;
  }

  #explorer {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 100%;
    background-color: #333;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
  }


  footer {
    position: absolute;
    bottom: 0;
  }

  #footer {
    margin: 0;
    background-color:lightcoral;
    width: 100vw;
  }